{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
	.star-ratings-rating-average,
	.star-ratings-rating-count,
	.star-ratings-rating-user {
		display:none;
	}
</style>
    <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>New Products</h3>
    		</div>
    		<div class="see">
    			<p><a href="{% url 'milyoncu:allproducts' %}">See all Products</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
	      <div class="section group">
			  {% for object in object_list %}
				<div class="grid_1_of_4 images_1_of_4">
					{% load ratings %}
					{% ratings object %}
					 <h2>{{object.name}} </h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">{{object.price}}$</span></p>
					    </div>
						<div class="clear"></div>
					</div>

				</div>
			  {% endfor %}

			</div>
			<div class="content_bottom">
    		<div class="heading">
    		</div>
    		<div class="see">
    		</div>
    		<div class="clear"></div>
    	</div>
    </div>

{% endblock %}